node_modules/
.pnpm-store/
next-env.d.ts
*.tsbuildinfo

.next/
dist/
build/
out/
coverage/

services/bin/

.env
.env.local
.env.*.local

.DS_Store
Thumbs.db

.idea/
.vscode/*
!.vscode/extensions.json

*.log
npm-debug.log*
pnpm-debug.log*
